{% extends 'pagoplanmovil/base.html' %}

{% block content %}
<br>
<br>
<h1>Pago</h1>
{% if user.is_authenticated %}
<a  class="btn btn-outline-primary" href="{% url 'pago_new' %}"> Nuevo </a>
{% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
{% endif %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Monto</th>
        <th scope="col">Nombre</th>
        <th scope="col"> Empleado</th>
      </tr>
    </thead>
        {% for pago in pagos %}
        <tr class="table-active">
            
            <td> {{ pago.montototal }}</td>
            <td>{{ pago.cliente.nombre }}</td>
            <td>{{ pago.empleado.username|linebreaksbr }}</td>

          </tr>
                
            
        {% endfor %}
</table> 
{% endblock %}