{% extends 'pagoplanmovil/base.html' %}

{% block content %}
<br>
<br>
<h1>Pago</h1>
<a  class="btn btn-outline-primary" href="{% url 'pago_new' %}"> Nuevo </a>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Monto</th>
        <th scope="col">Nombre</th>
        <th scope="col"> Empleado</th>
      </tr>
    </thead>
        {% for combo in combos %}
        <tr class="table-active">
            
            <td> {{ pago.montototal }}</td>
            <td>{{ pago.residente.nombre }}</td>
            <td>{{ pago.empleado.username|linebreaksbr }}</td>

          </tr>
                
            
        {% endfor %}
</table> 
{% endblock %}